<?xml version="1.0"?>
<launch>
<!-- point cloud publisher, this shoudl run on the GUI computer/ workstation as Pointclouds are costly to send over network-->
    <arg name="resolution"        default="sd"/>

    <arg name="base_name"         default="kinect2"/>
    <arg name="queue_size"        default="5"/>
    <arg name="machine"           default="localhost"/>
    <arg name="nodelet_manager"   default="$(arg base_name)"/>
    <arg name="respawn"           default="true"/>

    <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager)" args="manager"
             machine="$(arg machine)" output="screen"/>

    <node if="$(eval resolution == 'sd')" pkg="nodelet" type="nodelet" name="$(arg base_name)_pcl2_sd" machine="$(arg machine)"
            args="load depth_image_proc/point_cloud_xyzrgb $(arg nodelet_manager)" respawn="$(arg respawn)">
        <remap from="rgb/camera_info"             to="$(arg base_name)/sd/camera_info"/>
        <remap from="rgb/image_rect_color"        to="$(arg base_name)/sd/image_color_rect"/>
        <remap from="depth_registered/image_rect" to="$(arg base_name)/sd/image_depth_rect"/>
        <remap from="depth_registered/points"     to="$(arg base_name)/sd/points"/>
        <param name="queue_size" type="int" value="$(arg queue_size)"/>
    </node>

      <!-- qhd point cloud (960 x 540) -->
    <node if="$(eval resolution == 'qhd')" pkg="nodelet" type="nodelet" name="$(arg base_name)_pcl2_qhd" machine="$(arg machine)"
            args="load depth_image_proc/point_cloud_xyzrgb $(arg nodelet_manager)" respawn="$(arg respawn)">
        <remap from="rgb/camera_info"             to="$(arg base_name)/qhd/camera_info"/>
        <remap from="rgb/image_rect_color"        to="$(arg base_name)/qhd/image_color_rect"/>
        <remap from="depth_registered/image_rect" to="$(arg base_name)/qhd/image_depth_rect"/>
        <remap from="depth_registered/points"     to="$(arg base_name)/qhd/points"/>
        <param name="queue_size" type="int" value="$(arg queue_size)"/>
    </node>

      <!-- hd point cloud (1920 x 1080) -->
    <node if="$(eval resolution == 'hd')" pkg="nodelet" type="nodelet" name="$(arg base_name)_pcl2_hd" machine="$(arg machine)"
            args="load depth_image_proc/point_cloud_xyzrgb $(arg nodelet_manager)" respawn="$(arg respawn)">
        <remap from="rgb/camera_info"             to="$(arg base_name)/hd/camera_info"/>
        <remap from="rgb/image_rect_color"        to="$(arg base_name)/hd/image_color_rect"/>
        <remap from="depth_registered/image_rect" to="$(arg base_name)/hd/image_depth_rect"/>
        <remap from="depth_registered/points"     to="$(arg base_name)/hd/points"/>
        <param name="queue_size" type="int" value="$(arg queue_size)"/>
    </node>

</launch>